[tool.poetry]
name = "pyrql"
version = "0.5.0"
description = "RQL parsing"
authors = ["Pedro Werneck <pjwerneck@gmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.5"
pyparsing = "^2.4"
python-dateutil = "^2.8"

[tool.poetry.dev-dependencies]
pytest = ">=4.4.1"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
